<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Eclipse Oxygen with CDT 9.3" sequenceNumber="1499841898">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="4.7.0.I20170612-0950"/>
      <unit id="org.eclipse.sdk.ide" version="4.7.0.I20170612-0950"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.sdk.feature.group" version="9.3.0.201706122201"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.testing.source.feature.group" version="9.3.0.201707051419"/>
      <unit id="org.eclipse.cdt.testing.feature.group" version="9.3.0.201707051419"/>
      <repository location="https://hudson.eclipse.org/cdt/job/cdt-9.3/lastSuccessfulBuild/artifact/releng/org.eclipse.cdt.testing.repo/target/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.freemarker" version="0.0.0"/>
      <unit id="com.google.gson" version="0.0.0"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20160916162009/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.tools.templates.freemarker" version="0.0.0"/>
      <unit id="org.eclipse.tools.templates.core" version="0.0.0"/>
      <unit id="org.eclipse.tools.templates.ui" version="0.0.0"/>
      <repository location="https://hudson.eclipse.org/cdt/job/tools-templates-master/lastSuccessfulBuild/artifact/repo/target/repository/"/>
    </location>
  </locations>
</target>
