<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="ch.hsr.ifs.cdttesting.testingPlugin">
	   <testResouresLocation
	         sourceLocation="/resources/ch.hsr.ifs.cdttesting.example.exampleTestFolder/"
	         activatorClass="ch.hsr.ifs.cdttesting.example.MyTestPlugin"
	         externalSourceLocation="/ch.hsr.ifs.cdttesting.example.externalTestResource/"/>
   </extension>
   
   
   <!-- This section of plugin.xml is only required when you require to have your own codan-tests. Also note that these acutally do not belong into the testing-plugin-project but rather into your plugin-project itself.-->
   <extension
        point="org.eclipse.cdt.codan.core.checkers">
     <checker
           class="ch.hsr.ifs.cdttesting.example.examplecodantest.MyCodanChecker"
           id="ch.hsr.ifs.myCodanCheckerId"
           name="MyChecker Name">
        <problem
              category="ch.hsr.ifs.myCodanProblemCategory"
              defaultEnabled="true"
              defaultSeverity="Error"
              id="ch.hsr.ifs.myCodanProblemId"
              markerType="org.eclipse.cdt.codan.core.codanProblem"
              messagePattern="Declaration ''{0}'' is wrong."
              name="My Problem Name">
        </problem>
     </checker>
     <category
           id="ch.hsr.ifs.myCodanProblemCategory"
           name="My Checker Category Name">
     </category>
  </extension>
  <extension
         id="ch.hsr.ifs.cdttesting.markerResolution"
         name="%extensionMarkerResolution.name"
         point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
      <resolution
            class="ch.hsr.ifs.cdttesting.example.examplecodantest.MyQuickFix"
            problemId="ch.hsr.ifs.myCodanProblemId">
      </resolution>
   </extension>
</plugin>
