<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="ch.hsr.ifs.cdttesting.testingPlugin">
	   <testResouresLocation sourceLocation="/resources/ch.hsr.ifs.cdttesting.example.exampleTestFolder/" activatorClass="ch.hsr.ifs.cdttesting.example.MyTestPlugin"/>
   </extension>
</plugin>
