<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- UI VIEWS -->
    <extension
        point="org.eclipse.ui.views">
        <category
            id="ch.hsr.ifs.pasta"
            name="Painless AST Analysis"/>
            <view 
                icon="icons/pasta.gif" 
                category="ch.hsr.ifs.pasta" 
                class="ch.hsr.ifs.pasta.ASTView"
                id="ch.hsr.ifs.pasta.astview" 
                name="AST View"/>
            <view
               category="ch.hsr.ifs.pasta"
               class="ch.hsr.ifs.pasta.NodeView"
               icon="icons/pasta.gif"
               id="ch.hsr.ifs.pasta.nodeview"
               name="Node View"/>
    </extension>
    
    
    <!--PREFERENCES -->
    <extension
        point="org.eclipse.ui.preferencePages">
        <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="ch.hsr.ifs.pasta.plugin.preferences.PreferencePage"
            id="ch.hsr.ifs.pasta.plugin.preferences.PreferencePage"
            name="Pasta Preferences">
        </page>
    </extension>
    <extension
        point="org.eclipse.core.runtime.preferences">
        <initializer
            class="ch.hsr.ifs.pasta.plugin.preferences.PreferenceInitializer">
        </initializer>
    </extension>
    
    
    <!-- MENU ENTRY -->
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="ch.hsr.ifs.pasta.plugin.commands.category"
             name="Pasta Commands">
       </category>
       <command
             categoryId="ch.hsr.ifs.pasta.plugin.commands.category"
             id="ch.hsr.ifs.pasta.plugin.commands.showNodeInPasta"
             name="Show IASTNode in PASTA">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="ch.hsr.ifs.pasta.plugin.handlers.ShowInPASTAHandler"
             commandId="ch.hsr.ifs.pasta.plugin.commands.showNodeInPasta">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:#CEditorContext?endof=additions">
             <command
                   commandId="ch.hsr.ifs.pasta.plugin.commands.showNodeInPasta"
                   id="ch.hsr.ifs.pasta.plugin.menus.showNodeInPasta"
                   icon="icons/pasta.gif"
                   label="Show IASTNode in &amp;PASTA AST View">
             </command>
       </menuContribution>
    </extension>
    
</plugin>
